.gradient-text {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #000000 0%, #a3110e 64%);
  background: -moz-linear-gradient(to bottom, #000000 0%, #a3110e 64%);
  background: linear-gradient(to bottom, #000000 0%, #a3110e 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
